<div class="row mt-4">
  <% 3.times do |j| %>
    <% if @posts[i+j] %>
      <div class="col-sm">
        <div class="card">
          <div class="card-header">
            <%= @posts[i+j].user.email %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= link_to @posts[i+j].title, @posts[i+j], class: "stretched-link" %></h5>
            <p class="card-text"><%= @posts[i+j].preview %></p>
            <div class="text-end">
              <p class="card-text"><small>
                <% if admin? %>
                  <%= "Comment/Like Ratio: #{@posts[i+j].ctlr} | Likes: #{@posts[i+j].like_count} | #{@posts[i+j].published}" %>
                <% else %>
                  <%= "Likes: #{@posts[i+j].like_count} | #{@posts[i+j].published}" %>
                <% end %>
              </p></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>