<div class="d-flex justify-content-between">
  <div class="row">
    <% if admin? %>
      <div class="col"><%= button_to 'Edit', edit_post_path(@post), method: :get, class: "btn btn-primary" %></div>
      <div class="col"><%= button_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %></div>
    <% end %>
    <div class="col"><%= button_to 'Back', posts_path, method: :get, class: "btn btn-secondary" %></div>
  </div>
  <div></div>
  <div class="row">
    <% if user_signed_in? %>
      <% if @post.liked?(current_user) %>
        <div class="col"><%= button_to "Liked", unlike_path(@post), method: "delete", class: "btn btn-success" %></div>
      <% else %>
        <%= button_to "Like", like_path(@post), method: "put", class: "btn btn-light" %>
      <% end %>
    <% end %>
  </div>
</div>