<div class="container">
  <h1>Posts</h1>
  <% if admin? %>
    <%= button_to 'New Post', new_post_path, method: :get, class: "btn btn-primary" %><br>
  <% end %>
  <%= render partial: "sort" %>
  <% i=0; while i<@posts.count-3 %>
    <div class="row mt-4">
      <%= render partial: "pcard", locals: {post: @posts[i]} %>
      <% i+=1 %>
      <%= render partial: "pcard", locals: {post: @posts[i]} %>
      <% i+=1 %>
      <%= render partial: "pcard", locals: {post: @posts[i]} %>
      <% i+=1 %>
    </div>
  <% end %>
  <div class="row mt-4">
    <% @last_row.times do |i| %>
      <%= render partial: "pcard", locals: {post: @posts[-@last_row+i]} %>
    <% end %>
  </div>
</div>