<%= render 'layouts/posts' %>
<div class="container">
  <h1>Posts</h1>
  <div class="row mb-1">
    <% if admin? %>
      <div class="col-sm"><%= button_to 'New Post', new_post_path, method: :get, class: "btn btn-primary" %></div>
    <% end %>
  </div>
  <%= render partial: "sort" %>
  <% if admin? %>
    <%= render partial: "admin_sort" %>
  <% end %>
  <% i=0; while i<@posts.count %>
    <%= render partial: "3pcard", locals: {i: i} %>
    <% i += 3 %>
  <% end %>
</div>