<%= render 'layouts/posts' %>
<div class="container post-show">
  <h1><%= @post.title %></h1>
  <h2>by <%= @post.user.email %></h2>
  <p><%= @post.content %></p>

  <%= render partial: "actions" %>

  <% if user_signed_in? %>
    <%= render partial: "like" %>
    <%= render partial: "comment_form" %>
  <% end %><br>

  <h3>Comments</h3>
  <% @comments.each do |comment| %>
    <% if comment.user %>
      <%= "#{comment.user.email}: #{comment.body}" %><br>
    <% end %>
  <% end %>
</div>
